[submodule "submodules/mmwave_radar_processing"]
	path = submodules/mmwave_radar_processing
	url = https://github.com/davidmhunt/mmwave_radar_processing.git
[submodule "submodules/cpsl_datasets"]
	path = submodules/cpsl_datasets
	url = https://github.com/davidmhunt/cpsl_datasets.git
[submodule "submodules/radcloud"]
	path = submodules/radcloud
	url = https://github.com/davidmhunt/radcloud.git
[submodule "submodules/radarhd"]
	path = submodules/radarhd
	url = https://github.com/davidmhunt/radarhd.git
[submodule "submodules/mmwave_model_integrator"]
	path = submodules/mmwave_model_integrator
	url = https://github.com/davidmhunt/mmwave_model_integrator.git
[submodule "submodules/lib-avstack-core"]
	path = submodules/lib-avstack-core
	url = https://github.com/avstack-lab/lib-avstack-core.git
[submodule "submodules/geometries"]
	path = submodules/geometries
	url = https://github.com/davidmhunt/geometries.git
